h2{
    text-align: center;
}
h1{
    text-align: center;
}
.hover-tab:hover{
    background-color: lightgrey !important;
    cursor: pointer;
}
.popUp-confirm{
    top: 20%;
    left: 20%;
    z-index: 100;
    margin: auto;
    width: 300px;
    height: 150px;
    background-color: white;
    position: absolute;
    padding-left: 13px;
    box-shadow: 1px 1px 12px #555;
}
.cover-flow{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 98;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}
