<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                        I'm an example component!
                    </div>
                    <div v-for="testing in test" class="panel-body">
                        I'm an Thomas!
                        {{testing}}
                    </div>
                    <button v-on:click="show()" > CLick to test</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                test: [1,2,3,4,5,6,7,8,9],
            }
        },
        mounted() {
            console.log(this.test)
        },
        methods: {
            show: function () {
                var vm = this;
                
                if (this.test == 'true') {
                    this.test = 'false';
                }
                else{
                    this.test = 'true';
                }
                console.log(this.test)
            }
        },
    }
</script>
