<template>
    <div class="formRegister">



    </div>
</template>

<script>
    export default {
        data() {
            return {
                select: "1",
            }
        },
        mounted() {
            console.log(this.test)
        },
        methods: {
            show: function (success, text, ms) {
                if (this.test == 'true') {
                    this.test = 'false';
                }
                else{
                    this.test = 'true';
                }
            }
        },
    }
</script>
