<template>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1>Profils Freelances</h1>
            <body>

            <table id="tblSociety" style="width:100%">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Speciality</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="profil in profils" class="hover-tab" v-on:click="redirect(profil.id)">
                    <td>{{ profil.firstname }}</td>
                    <td>{{ profil.lastname }}</td>
                    <td>{{ profil.spe }}</td>
                    <td>{{ profil.city }}</td>
                </tr>
                </tbody>
            </table>


            <body>
        </div>
    </div>
</template>

<script>
    export default{
        props: {
            profils: {
                type: Array
            },
            url: {
                type: String
            },
        },
        data(){
            return {
                test: "test",
            }
        },
        mounted: function () {
            this.$nextTick(function () {
            });
        },
        methods: {
            redirect: function(idProfil){
                document.location.href="http://localhost/ppe1/freelanceWebSite/public/done/" + idProfil;
            }

        }
    }

</script>

<style>

</style>