<template>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1>Project</h1>
            <body>

            <table id="tblProject" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="project in projects" class="hover-tab" v-on:click="redirect(project.id)">
                    <td>{{ project.name }}</td>
                    <td>{{ project.spe }}</td>
                    <td>{{ project.price }} $</td>
                </tr>
                </tbody>
            </table>
            <body>
        </div>
    </div>
</template>

<script>
    export default{
        props: {
            projects: {
                type: Array
            },
        },
        data(){
            return {
                test: "test",
            }
        },
        mounted: function () {
            this.$nextTick(function () {

                });
        },
        methods: {
            redirect: function(idProject){
                document.location.href="http://localhost/ppe1/freelanceWebSite/public/show_p/" + idProject;
            }
        }
    }

</script>

<style>

</style>