<template>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1>Test de connaissance</h1>
            <div v-for="question in test" v-if="question.spe == idSpe" class="col-xs-3">
                <h3>{{question.name}}</h3>
                <p>{{question.question}}</p>
                <div v-for="rep in response" v-if="rep.id_question == question.id">
                    <label>{{rep.response}}</label>
                    <input type="checkbox" name="" :value="rep.isTrue">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: {
            test: {
                type: Array
            },
            response: {
                type: Array
            },
            idFreelance: {
                type: String
            },
            idSpe: {
                type: String
            },
        },
        data(){
            return {
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                console.log(this.idSpe)
            });
        },
        methods: {
            redirect: function(idProfil){
            }

        }
    }

</script>