<template>
    <div class="row">
        <h2>{{project.name}}</h2>
        <div v-if="isPostul" class="cover-flow">
        </div>
        <div v-if="isPostul" class="popUp-confirm" >
            <h3>Are you sure you want to apply for this project ?</h3>
            <button v-on:click="confirm(true)" class="btn btn-success">Yes</button>
            <button v-on:click="confirm(false)" class="btn btn-danger">No</button>
        </div>
        <ul>
            <li><p>Description : {{project.description}}</p></li>
            <li><p>Price : {{project.price}} $</p></li>
            <li><p>Date End : {{project.dt_start}}</p></li>
            <li><p>Date Start : {{project.dt_end}}</p></li>
            <p ><button v-on:click="postul()" class="btn btn-success">Postulate Project</button></p>
            <a :href="'http://localhost/new-ppe/freelanceWebSite/public/show_p/update/' + project.id"><button class="btn btn-primary">Update Project</button></a>
            <a :href="'http://localhost/new-ppe/freelanceWebSite/public/show_p/destroy/' + project.id"><button class="btn btn-danger">Del Project</button></a>
        </ul>
    </div>
</template>

<script>
    export default{
        props: {
            project: {
                type: Object
            },
        },
        data(){
            return {
                isConfirm: false,
                isPostul: false,
            }
        },
        mounted: function () {
            this.$nextTick(function () {
            });
        },
        methods: {
            postul: function(){
                this.isPostul = true;
            },
            confirm: function(res){
                this.isPostul = false;
                if (res == true){
                    document.location.href="http://localhost/new_ppe/freelanceWebSite/public/show_p/postul/" + idProfil;
                }
            }

        }
    }

</script>

<style>

</style>