<template>

</template>

<script>
    export default{
        props: {
            profils: {
                type: Array
            },
            url: {
                type: String
            },
        },
        data(){
            return {
                test: "test",
            }
        },
        mounted: function () {
            this.$nextTick(function () {
            });
        },
        methods: {
            redirect: function(idProfil){
                document.location.href="http://localhost/ppe1/freelanceWebSite/public/done_p/" + idProfil;
            }

        }
    }

</script>

<style>

</style>